.active {
  background-color: red;
}

.bingo {
  background-color: gold;
  color: black;
  transform: translate3d(10%, 10%, 10%);
  font-size: 25px;
}
button {
  height: 90px;
  width: 90px;
  /* min-width: 90px;
  min-height: 90px; */
  border: 1px solid black;
  background-color: blue;
  color: white;

  @media (max-width: 700px) {
    width: 45px;
    height: 45px;
  }
}

.grid-container {
  /* align-items: center; */
  /* max-width: 600px;
  max-height: 600px; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  border: 1px solid;
  padding: 3px;
  box-shadow: 5px 10px 8px 10px #ddd;

  @media (max-width: 700px) {
    width: 100vw;
    height: 100vh;
  }
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 90px;
  height: 90px;
  @media (max-width: 700px) {
    width: 20%;
    height: 20%;
    font-size: 30px;
  }
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0.5; */
  flex-direction: column;
  /* margin-top: 50px; */
  background-color: #282c34;
  @media (max-width: 700px) {
    width: 100vw;
    height: 100vh;
  }
}

/* .App-logo {
  height: 100vh;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
